.salvar-icon{
	background: url("../icons/salvar.png") !important;
	}
.cancelar-icon{
	background: url("../icons/cancelar.png") !important;
}
.novo-icon{
	background: url("../icons/novo.png") !important;
}

.menu-template{
	position: fixed;
	margin-top: 5px;
	font-size: 12px;
}
.principal-template{
	position: absolute;
	margin-left: 260px;
	min-width: 80%;
	min-height:70%;
	margin-top: 15px:
	
}

