/* BASE */
body {
	margin: 0;
	font-size: 13px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* TABVIEW */
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a {
	color: #555;
}

@media ( max-width : 1040px) {
	.ui-tabs.ui-tabs-top>.ui-tabs-nav li {
		width: 100%;
	}
}

/* PANELGRID */
.ui-panelgrid.panelgrid-noborder .ui-grid-responsive {
	border: none;
}

.ui-panelgrid.panelgrid-colorAzul .ui-grid-responsive {
	border: none;
	background-color: #42A5F5 !important;
	box-shadow: 2px 2px 4px;
	border-radius: 5px;
	height:155px
}

.ui-panelgrid.panelgrid-colorRoxo .ui-grid-responsive {
	border: none;
	
	background-color: #7E57C2 !important;
	box-shadow: 2px 2px 4px;
	border-radius: 5px;
	height:155px
}
.ui-panelgrid.panelgrid-colorLaranja .ui-grid-responsive {
	border: none;
	background-color: #FFB300 !important;
	box-shadow: 2px 2px 4px;
	border-radius: 5px;
	height:155px
}
.ui-panelgrid.panelgrid-colorVerde .ui-grid-responsive {
	border: none;
	background-color: #66BB6A !important;
	box-shadow: 2px 2px 4px;
	border-radius: 5px;
	height:155px
}

@media ( max-width : 640px) {
	.ui-panelgrid.panelgrid-noborder .ui-grid-responsive .ui-grid-row {
		border: none;
	}
}