.green-button.ui-button.ui-state-default {
        background-color: #5cb85c;
        border-color: #5cb85c;
        color: #fff;
    }
 
    .green-button.ui-button.ui-state-default:enabled:hover, 
    .green-button.ui-button.ui-state-default:focus {
        background-color: #4cae4c;
        border-color: #5cb85c;
    }