<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Login</title>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<!-- Compiled and minified JavaScript -->
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<style type="text/css">
form input[type=submit] {
	color: white;
}

form {
	margin-left: 35%;
	margin-top: 11%;
}

.col .row{
	margin-right: 0rem;
}


</style>
</head>
<body>


	<form th:action="@{/login}" method="post" class="col s12">
		<h4>Acesso ao Sistema</h4>

		<div class="row">
			<div class="input-fiel col s6">
				<label>Login</label> <input type="text" name="username" style="border-radius: 7px; border-bottom: none">
			</div>
		</div>
		<div class="row">
			<div class="input-fiel col s6">
				<label>Login</label> <input type="password" name="password" style="border-radius: 7px; border-bottom: none">
			</div>
		</div>
		<div class="row">
			<div class="input-fiel col s6">
				<input name="Logar" type="submit" value="Acessar"
					class="waves-effect waves-light btn">
			</div>
		</div>

	</form>

</body>
</html>